@import "tailwindcss";

:root {
  --background: #EADCCE;
  --foreground: #171717;
  --primary-red: #7A1D15;
  --secondary-olive: #646850;
  --bg-beige: #EADCCE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-red: var(--primary-red);
  --color-brand-olive: var(--secondary-olive);
  --color-brand-beige: var(--bg-beige);
  
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui;
  --font-serif: var(--font-playfair), ui-serif, Georgia, serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), ui-sans-serif, system-ui;
}
